

.btn{
	background-color: black;
	color: white;
	margin-top: : 5px;

	}


html, body {
			height: 100%;
		}
body {
			display: flex;
			flex-direction: column;
		}
.content {
			flex: 1 0 auto;
		}
.footer a{

			flex-shrink: 0;
			font-size: 12px;
		 
		    top: 5px;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    color: white;
		    margin-top: 10px;
		
		}
.footerTitle{
	font-size: 16px;
	font-weight: bold;
	margin: auto;
	margin-bottom: 10px;
}
#filtersubmit {
	    		position: relative;
	    		z-index: 1;
	    		left: -25px;
	    		top: 1px;
	    		color: #7B7B7B;
	    		cursor:pointer;
	    		width: 0;
}
.col-form-label {
    /*text-align: right;*/

    
  }

 .formInput,select{
 	border: none;
 	border-bottom: 2px solid black;
 	width: 170px;
 }
 form{
 	font-family: georgia;
 }
 .imgcart{
 	width: 50%;
 }

 .imgProduct{
 	width:200px;height: 270px;
 	border: 3px solid black;
 }

 .product{
 	text-align: center;
 }
 
 .home{
 	width: 50%;
 	height: 100%;
 }

 .fa{
 	color:white;
 	font-size: 30px;
 }
 .nav ,.navbar{
 	font-family: sans-serif;
 }
 .social a{
	
	margin: auto;
	font-size: 30px;
	padding-top: 5%;


 }



