

.btn{
	background-color: black;
	color: white;
	margin-top: : 5px;

	}


html, body {
			height: 100%;
		}
body {
			display: flex;
			flex-direction: column;
		}
.content {
			flex: 1 0 auto;
		}
.footer {

			flex-shrink: 0;
			
		
		}

#filtersubmit {
	    		position: relative;
	    		z-index: 1;
	    		left: -25px;
	    		top: 1px;
	    		color: #7B7B7B;
	    		cursor:pointer;
	    		width: 0;
}
.control-label {
    

    
  }

 .formInput,select{
 	border: none;
 	border-bottom: 2px solid black;
 	width: 170px;
 }
 form{
 	font-family: georgia;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }
 .imgcart{
 	width: 50%;
 }

 .imgProduct{
 	width:200px;height: 270px;
 	border: 3px solid black;
 }

 .product{
 	text-align: center;
 }
 
 .home{
 	width: 50%;
 	height: 100%;
 }

 .fa{
 	color:white;
 	font-size: 30px;
 }
 .nav ,.navbar{
 	font-family: sans-serif;
 }
 
 iframe{
 	text-align: center;
 	align-content: center;
 }

 .nav-link:hover{
    
    background-color: transparent;
    border-bottom: 5px solid black;
}
.socialMedia {
	margin:10px;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;

}
.footerTitle {
	margin: 10px;
	margin-top: 20px;
	margin-left: 30px;

}
.footerTitle a{
	color: white;

}



.garis_bwh{
	border-top: 1px solid white;
	width: 90%;
	margin: 2px auto;
	

}

.copyright{
	left: 10px;
	position: relative;
	line-height: 22px;
}
.location{
	margin-top: 20px;
	margin-left: 10spx;

}
.address{
	margin-left: 5px;
}




