

.btn{
	background-color: black;
	color: white;
	margin-top: : 5px;

	}


html, body {
			height: 100%;
		}
body {
			display: flex;
			flex-direction: column;
		}
.content {
			flex: 1 0 auto;
		}
.footer {
			flex-shrink: 0;
		}
#filtersubmit {
	    		position: relative;
	    		z-index: 1;
	    		left: -25px;
	    		top: 1px;
	    		color: #7B7B7B;
	    		cursor:pointer;
	    		width: 0;
}
.col-form-label {
    text-align: right;

    
  }

 input,select{
 	border: none;
 	border-bottom: 2px solid black;
 	width: 170px;
 }
 form{
 	font-family: georgia;
 }
 .imgcart{
 	width: 15%;
 	height: 20%;
 }

 .imgProduct{
 	width:200px;height: 270px;
 	border: 3px solid black;
 }

 .product{
 	text-align: center;
 }


